{% block TicketType_row %}
    <div class="col-md-3">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block TicketType_widget %}
    {{ form_widget(form) }}
    <br/>
    <p class="text-center">
        <a href="#" class="collection-remove btn waves-effect waves-light deep-orange accent-3">-</a>
        <a href="#" class="collection-add btn waves-effect waves-light deep-orange accent-3">+</a></p>
{% endblock %}
